<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no"/>
    <link href="css/menu.css" rel="stylesheet" type="text/css"/>
    <title>menu-vue</title>
</head>
<body>
<div class="container" id="app">
    <menu-view v-if="currentView==='menuView'" v-ref:menuContainer :cart-data="cartData" :show-cartbox="showCartbox"
               :category-menu-list="categoryMenuList" :shop-name="shopName"></menu-view>
    <menu-detail v-if="currentView==='detailView'" v-ref:menuDetail :cart-data="cartData"></menu-detail>
    <user-cart v-ref:cart v-if="showCartbox" :cart-data="cartData"></user-cart>
    <menu-bottom v-ref:bottom :show-cart="showCartbox" :cart-data="cartData"></menu-bottom>
    <menu-search v-ref:search v-if='showSearchbox' :foods="foods"></menu-search>
</div>


<script src="js/vue.min.js"></script>
<script src="js/zepto.min.js"></script>

<!-- build:js js/menu.combined.js -->
<script src="js/menu/header.js"></script>
<script src="js/menu/search.js"></script>
<script src="js/menu/content.js"></script>
<script src="js/menu/cartIco.js"></script>
<script src="js/menu/category.js"></script>
<script src="js/menu/menuList.js"></script>
<script src="js/menu/menuItem.js"></script>
<script src="js/menu/counter.js"></script>
<script src="js/menu/cart.js"></script>
<script src="js/menu/cartItem.js"></script>
<script src="js/menu/foodimgSlide.js"></script>
<script src="js/menu/foodSpecItem.js"></script>
<script src="js/menu/foodSpec.js"></script>
<script src="js/menu/menuView.js"></script>
<script src="js/menu/detailView.js"></script>
<script src="js/menu/bottom.js"></script>
<script src="js/menu/main.js"></script>
<!-- endbuild  -->
</body>
</html>